<br>
<br>
<br>
<br>

 <h1>Create a Wiki</h1>
 <p><h4>(not to be confused with a wookie!)</h4></p>
 
 <div class="row">
   <div class="col-md-4">
     <p>Need some tips before creating your Wiki?</p>
     <ul>
       <li>Make it relevant!</li>
       <li>Remember to include sources for your information.</li>
       <li>Add pictures, quotes, and personal anecdotes to make your topic super interesting!</li>
     </ul>
   </div>
   <div class="col-md-8">
     <%= form_for @wiki, url: wiki_path(@wiki) do |f| %>
       <div class="form-group">
         <%= f.label :title %>
         <%= f.text_field :title, class: 'form-control', placeholder: "Wiki title goes here!" %>
       </div>
       <div class="form-group">
         <%= f.label :body %>
         <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Tell us what your wiki topic is about!" %>
       </div>
       <div class="form-group">
         <%= f.submit "Save", class: 'btn btn-success' %>
       </div>
     <% end %>
   </div>
 </div>