<br>
<br>
<br>
<br>

 <h1>Edit this Bloci</h1>
 <br><h4>Insert your own knowledge, trick college students around the world!</h4>
 
 <div class = "pull-right">
  <table>
    Collaborators:
    <p>
      PLACEHOLDER
    </p>
  </table>
</div>

<div class="row">
  <div class="col-md-8">
    <%= form_for @wiki do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter body" %>
      </div>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %> Private Wiki
        <% end %>
        <br>
      <div class="col-md-3">
      <input type="text" class="form-control" placeholder="Add a Collaborator">
      <!--<button type="submit" class="btn btn-default">Submit</button>-->
      </div>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>


