
<br>
<br>
<br>
<br>
<div class="jumbotron jumbotron-edit">
  <div class = "index-header">
   <h1 class = "fancy"><center><%= image_tag("chum_downgrade_placeholder.png", :alt => "Blocipedia") %></center></h1>
   <br>
   <br>
   <br>
   <div><center><h4 class = "fancy">placeholder</h4></center></div>
 </div>
 </div>
 
 <!--logic for prem and admin users to view private wikis-->
 
 <% if current_user && current_user.role == 'premium' %>
 <div class="private">
    <h2>Your Private Chomps</h2>
      <% if current_user.wikis.count === 0 %> <!--only this line seems to return-->
      <p>Feel free to take the bait and make a private <%= link_to "Chomp", new_wiki_path %>!</p>
      <% else %> <!--I create wikis with a premium user and they don't show up/appear, and the "feel free to create..." string returns-->
        <% current_user.wikis.each do |wiki| %>
            <% if wiki.private %>
              <p><%= link_to wiki.title, wiki %></p>
            <% end %>
      <% end %>
      <% end %>
      </div>
  <% end %>

  
  <div class = "new-wiki">
  <h3><%= link_to "New", new_wiki_path, class: 'pull-right' %></h3>
  </div>
  
 <div class="row">
<% @wiki.each do |wiki| %>
  <div class="media">
    <div class="media-body">
      <!--<h4 class="media-heading">-->
      <div class="col-md-3">
      <h4 class="wiki-title">
         <% if wiki.private != true %>
         <%= link_to wiki.title, wiki %>
         <% end %>
      </h4>
    </div>
  </div>
  </div>
  </div>
<% end %>

  
  <div class = "bottom-bar-agreeable">
  <center>
   Contact | About us | Upgrade
   <br>
   <br>
   Donate | Help | Etc
   <br>
   <br>
   Search <input type="text" name="search"> <button>Submit</button>
  </center>
 </div>