<br>
<br>
<br>
<br>
<br>

<h1><center><%= @wiki.title %></center></h1>
<p>
  <h4 class = "pull-right"> <%= link_to "Back to Index", wikis_path %> </h4>
</p>
<br>
<br>
<br>
<br>
<br>
 <% if @wiki.private == true %>
 
 <div class = "collaborators">
     <%= render partial: 'collaborators/form', locals: {wiki_id: @wiki.id} %>
      <!--link_to "Add", new_collaborators_path, class: 'pull-right btn-info XSmall' -->
  <table>
   <p>Your Collaborators:</p>
    <% @wiki.collaborators.each do |collaborator| %>
      <p><%= collaborator.user.email %></p>
    <% end %>
    </p>
  </table>
</div>
<% end %>

<center>
<div class="row show-view">
  <div class="col-md-8">
    <h3><%= @wiki.title %></h3>
<p>
  <%= markdown(@wiki.body) %>
</p>
<h4>Published : (fix later)</h4>
    <br>
 <!--%= @wiki.user.email %'s Chomp-->
    </div>
</div>
 <div class = "pull-right">
      <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure about this?!'} %>
  </div>
</center>

<div class = "markdown">
  <h3>Markdown Cheat-Sheet!</h3>
  <li>
    <ol><strong>Bold</strong>: ** or __</ol>
    <ol><strikethrough>Delete</strikethrough>: ~~</ol>
    <ol><em>Italic</em>: *</ol>
  </li>
</div>

 <div class = "bottom-bar-agreeable">
  <center>
   Contact | About us | Upgrade
   <br>
   <br>
   Donate | Help | Etc
   <br>
   <br>
   Search <input type="text" name="search"> <button>Submit</button>
  </center>
 </div>