<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Norican" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
 <ul class="nav nav-tabs">
       <li class = "main-links"><%= link_to "Home", root_path %></li>
       <li class = "main-links"><%= link_to "Chomps", wikis_path %></li>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
 
 <div class = "nav nav-tabs pull-right">
 <% if user_signed_in? && current_user.role == 'standard' %>
   <li class = "main-links"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
   <li class = "main-links"><%= link_to 'Upgrade to Premium', new_charge_path, :class => 'navbar-link' %></li>
   <li class = "main-links"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
 <div class = "user-info">Signed in as: <strong><%= current_user.email %></strong> | Membership: <strong><%= current_user.role %></strong></div>
 <% elsif user_signed_in? && current_user.role == 'premium' %>
  <li class = "main-links"><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
  <li class = "main-links"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
  <li class = "main-links"><%= link_to 'End Subscription', new_charge_path, :class => 'navbar-link' %></li>
 <div class = "user-info">Signed in as: <strong><%= current_user.email %></strong> | Membership: <strong><%= current_user.role %></strong></div>
  
 <% else %>
   <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
   <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
 <% end %>
 </div>
 <!-- issue here - links dont want to work -->
 <div class="site-body">
     <ul class="tabs">
       
       
     </ul>
   </div>
   </div>
    <% if flash[:notice] %>
       <div class="alert alert-success">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:notice] %>
       </div>
     <% elsif flash[:alert] %>
       <div class="alert alert-warning">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         <%= flash[:alert] %>
       </div>
     <% end %>
     
     <%= yield %>

</body>
</html>
